<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header") -%>
  <body>
    <!-- Navigation-->
    <%- include("layouts/navbar") -%>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-8 align-self-end">
                  <h1 class="text-white font-weight-bold">APPOINTMENT SLOT</h1>
                  <hr class="divider" />
              </div>
              <div class="col-lg-8 align-self-baseline">
                  <p class="text-white-75 mb-5">KEEP CALM I ADD APPOINTMENT SLOT !</p>
              </div>
          </div>
      </div>
  </header>
    <!-- Main Content-->
    <main class="mb-4">

      <!--Personal Information-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Appointment Slot</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">The cars we drive say a lot about us.!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-12">
                  
                    <form action="/add-slot" method="POST">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="date" name="date" type="date" placeholder="select date " data-sb-validations="required,date" onchange="changeDate()" />
                            <label for="DATE">date</label>
                            <div class="invalid-feedback" data-sb-feedback="DOB is required">Date is required.</div>
                        </div>
                        <div class="form-floating mb-3">
                          <div class="btn-group" style="gap: 4px;">
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option"
                              autocomplete="off"
                              value="09:00" />
                            <label class="btn btn-outline-primary"
                              for="option">09:00 - 9:30</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option2"
                              autocomplete="off"
                              value="09:30" />
                            <label class="btn btn-outline-primary"
                              for="option2">09:30 - 10:00</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option3"
                              autocomplete="off"
                              value="10:00" />
                            <label class="btn btn-outline-primary"
                              for="option3">10:00 - 10:30</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option4"
                              autocomplete="off"
                              value="10:30" />
                            <label class="btn btn-outline-primary"
                              for="option4">10:30 - 11:00</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option5"
                              autocomplete="off"
                              value="11:00" />
                            <label class="btn btn-outline-primary"
                              for="option5">11:00 - 11:30</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option6"
                              autocomplete="off"
                              value="11:30" />
                            <label class="btn btn-outline-primary"
                              for="option6">11:30 - 12:00</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option7"
                              autocomplete="off"
                              value="12:00" />
                            <label class="btn btn-outline-primary"
                              for="option7">12:00 - 12:30</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option8"
                              autocomplete="off"
                              value="12:30" />
                            <label class="btn btn-outline-primary"
                              for="option8">12:30 - 13:00</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option9"
                              autocomplete="off"
                              value="13:00" />
                            <label class="btn btn-outline-primary"
                              for="option9">13:00 - 13:30</label>
            
                            <input type="radio"
                              class="btn-check"
                              name="option"
                              id="option0"
                              autocomplete="off"
                              value="13:30" />
                            <label class="btn btn-outline-primary"
                              for="option0">13:30 - 14:00</label>
                          </div>
                        </div>
                        <% if(isSlot) {%>
                        
                          <h5 style="color: red">
                            Slot added
                          </h5>
                        
                        <% } %>
                      <div class="d-grid"><button class="btn btn-primary btn-xl " type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- Footer-->
    <%- include("layouts/footer") -%>
    <!-- Bootstrap core JS-->
    <%- include("layouts/scripts") -%>
    <script>
        const slot = document.getElementsByName("option");

        const handleResponse = (response) => {
        if (!response.ok) {
          throw response.status + ": " + response.statusText;
        }
        return response.json();
      };
  
        const changeDisable = (data) => {
          slot.forEach((val) => {
            data.appointmentSlot.forEach((va) => {
              if (val.value == va.time){
                val.setAttribute("disabled", true);
              }
            });
          });
        };
        
        const changeDate = () => {
          slot.forEach((val) => {
            val.removeAttribute("disabled");
          });
          let date = document.getElementById("date").value;
          let url = window.location.origin + `/get-slot/${date}`;
          fetch(url)
            .then((response) => handleResponse(response))
            .then((data) => changeDisable(data))
            .catch((error) => {console.log("no data found");})
        }
      </script>
  </body>
</html>
