<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header") -%>
  <body>
    <!-- Navigation-->
    <%- include("layouts/navbar") -%>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-8 align-self-end">
                  <h1 class="text-white font-weight-bold">Dashborad</h1>
                  <hr class="divider" />
              </div>
              <div class="col-lg-8 align-self-baseline">
                  <p class="text-white-75 mb-5">Learning to drive and passing your driving test is a rite of passage. For so many people it means freedom and is a significant milestone in growing up.</p>
                  
              </div>
          </div>
      </div>
  </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="col-lg-12 col-md-6 text-center">
      <div class="mt-5">
       
        <h3 class="h4 mb-2">Driving test</h3>
        <p class="text-muted mb-0">Book Your Driving Test with Us.</p>
        <p class="text-muted mb-0">G and G2 Test.</p>

        <p class="text-muted mb-0">Learning to drive and passing your driving test is a rite of passage. For so many people it means freedom and is a significant milestone in growing up.</p>
    </div>
    </div>
        

    </main>
    <!-- Footer-->
    <%- include("layouts/footer") -%>
    <!-- Bootstrap core JS-->
    <%- include("layouts/scripts") -%>
  
  </body>
</html>
